body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Rubik', sans-serif;
    background-color: #F5F1ED;
}

.navigationUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    overflow: auto;
    padding: 5%;
    font-size: 2vh;
}

.navigationLink {
    display: block;
    color: black;
}

.navigationLink:hover:not(.activeLink) {
    color: #2ecc71;
    cursor: pointer;
}

.activeLink {
    background-color: #50f095;
    color: white;
}

#search {
    width: 76%;
    height: 7.5vh;
    font-size: 5.5vh;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    position: absolute;
    top: 1%;
    padding-left: 1%;
    left: 20vw;
    background: none;
}

#search:focus:hover {
    border-bottom: 1px solid #BBB;
}

#search:focus {
    border-bottom: 1px solid #BBB;
    cursor: text;
}

#cancel {
    font-size: 4.5vh;
    width: 5vw;
    display: inline-block;
    border: none;
    position: absolute;
    top: 3%;
    right: 1%;
    z-index: 2;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
    color: black;
}

#cancel:hover {
    opacity: 0.8;
}

.currentSongCover {
    position: fixed;
    bottom: 20vh;
    padding: 0;
    margin: 0;
    max-width: 16.5vw;
    min-width: 16.5vw;
    height: 16.5vw;
}

.songPlayedCover {
    min-height: auto;
    max-height: auto;
    min-width: 16.5vw;
    max-width: 16.5vw;
}

.leftBar {
    min-height: 90vh;
    max-height: 90vh;
    width: 15%;
}

.songOptions {
    position: fixed;
    bottom: 0;
    max-height: 10vh;
    min-height: 10vh;
    width: 100vw;
    background-color: #e6e6e6;
}

#heading {
    color: black;
    font-size: 3vh;
}

.currentSongName {
    position: fixed;
    bottom: 10vh;
    max-width: 16.5vw;
    min-width: 16.5vw;
    max-height: 10vh;
    min-height: 10vh;
    background-color: white;
}

#currentSong {
    padding-left: 4%;
    font-size: 2.5vh;
}

#currentArtist {
    margin-top: -4%;
    padding-left: 4%;
    font-size: 2vh;
}

#star {
    position: absolute;
    left: 85%;
    top: 15%;
    font-size: 2vh;
}

#star:hover{
    cursor: pointer;
}

i {
    color: white;
}

#volume_down, #volume_up {
    position: absolute;
    font-size: 2vh;
    top: 40%;
}

#volume_down {
    right: 98.5%;
}

#volume_up {
    left: 11%;
}

.playOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    margin-top: 0.8%;
}

#pause, #play {
    font-size: 4vh;
}

.playOptions i {
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.navigationHorizontal {
    background-color: white;
    width: 75%;
    height: 7.5vh;
    position: absolute;
    left: 20vw;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    padding-left: 2%;
}

.navigationHorizontal .link:nth-child(2) {
    margin-left: 30%;
    margin-right: 30%;
}

#startSuggestions, #favorites, #profile {
    width: 75%;
    position: absolute;
    top: 16%;
    left: 20vw;
    background-color: white;
    padding-left: 2%;
}

.recentlyPlayedElement img, .favoriteElement img {
    height: 10vw;
    width: 10vw;
}

.recentlyPlayedElement p:nth-last-child(2), .favoriteElement p:nth-last-child(2) {
    margin-top: 1vh;
    font-size: 2.5vh;
    color: darkslategray;
}

.recentlyPlayedElement p:nth-last-child(1), .favoriteElement p:nth-last-child(1) {
    margin-top: -1.5vh;
    font-size: 2vh;
    color: gray;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recentlyPlayedElement, .favoriteElement {
    margin-right: 2%;
}

.trackOptions {
    position: absolute;
    top: 40%;
    font-size: 2vh;
    right: 1.5vw;
}

.trackOptions i:nth-child(2) {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

#logo {
    height: 8vh;
    background-color: white;
}

#playlists {
    margin-top: 4%;
    height: 32vh;
    background-color: white;
}

#playlistsHeading {
    color: black;
}

i {
    color: gray;
}

#random:hover, #loop:hover, #queue:hover, #last:hover, #pause:hover, #next:hover, #heading:hover, .link:hover {
    cursor: pointer;
}

#content {
    background-color: black;
}

#volumeBar, #songBar {
    position: absolute;
    width: 7.5%;
    height: 8%;
    margin: 0 auto;
    top: 46%;
    left: 2.5%;
    background-color: #bdc3c7;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}

#volumeBar:before, #songBar:before {
    content: "";
    display: block;
    position: relative;
    top: -0.5em;
    width: 1.5em;
    height: 1.5em;
    margin-left: -1em;
    border: solid 0.25em gray;
    border-radius: 1em;
    background-color: inherit;
    box-sizing: border-box;
    cursor: pointer;
}

#volumeBar:hover, #songBar:hover{
    cursor: pointer;
}

#songBar {
    top: 66%;
    width: 26%;
    left: 37%;
}

#active{
    color: #2ecc71;
}