body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    user-select: none;
}

section {
    width: 100%;
    height: 100vh;
}

nav {
    width: 95%;
    margin: 10px auto;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #f2f8f5b9;
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: white;
}

nav#navigation ul li a {
    position: relative;
}

nav#navigation ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
}

nav#navigation ul li a:hover:after {
    width: 100%;
}

#separator {
    background: #f2f8f5b9;
    margin: auto 17px;
    display: inline-block;
    height: 20px;
    width: 1px;
    color: #f2f8f5b9;
}

#start {
    background-color: #2ecc71;
    position: absolute;
    top: 0;
    left: 0;
}

section:nth-child(2) {
    position: absolute;
    top: 100vh;
}

#navigation h2 {
    margin-top: -1em;
    font-size: 4em;
    color: #f2f8f5b9;
}

#navigation h1 {
    font-size: 7em;
    color: white;
}

#navigation h2, #navigation h1 {
    margin-left: 2%;
}

#shamrock {
    position: absolute;
    left: 60%;
    top: 30%;
    height: 28vh;
    width: auto;
}

.divLeft {
    background-color: white;
    border-radius: 2%;
    position: relative;
    width: 40vw;
    padding: 1%;
    left: 20vw;
    top: 10vh;
}

.divRight {
    background-color: white;
    border-radius: 2%;
    position: relative;
    width: 20vw;
    padding: 1%;
    left: 70vw;
    top: 10vh;
}

.heading {
    font-size: 10vh;
    text-align: center;
}

.imageLeft {
    position: relative;
    left: 20vw;
    margin-bottom: 40vh;
}

.imageRight {
    position: relative;
    left: 70vw;
    margin-bottom: 40vh;
}

.imageLeft img, .imageRight img {
    height: 20vh;
    width: auto;
}

.imageLeft img:hover, .imageRight img:hover {
    cursor: pointer;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 3px solid #2ecc71;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

#message{
    padding-bottom: 20%;
}

input[type=submit] {
    background-color: darkgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkslategray;
}

#contactForm{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.faults{
    color: #e74c3c;
}

#sentText {
    color: #4CAF50;
}